@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-noto-sans-jp: "Hiragino Sans", "Noto Sans JP", "Yu Gothic", "Meiryo",
    "Helvetica Neue", Arial, sans-serif;
  --font-noto-sans: "Montserrat", "Helvetica Neue", Arial, sans-serif;
  --font-montserrat: "Montserrat", "Helvetica Neue", Arial, sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-noto-sans-jp);
}
